VITE_PASADAFUND_CONTRACT_ID=CCLVGF3AR5WGDZF4RWMLVXTIBH3YBXOV3CLAWXNB73NSKXJDHE62WMAJ
VITE_NATIVE_XLM_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STELLAR_RPC_PRIMARY=https://soroban-testnet.stellar.org
VITE_STELLAR_RPC_SECONDARY=https://stellar-testnet-rpc.publicnode.com
